.form {
    container-type: inline-size;
    width: 100%;
    display: flex;
    justify-content: center;

    .form__input {
        padding: 1rem;
        width: 325px;
        @container (min-width: 410px) {
            width: 400px;
        }
    }

    .form__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}